/* { border: 1px solid pink; } */

body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* initial body height = 
    100% of vh: "viewport height" */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: none;
    font-style: oblique;
    font-size: large;
    background-color: white;
}

a {
    text-decoration: none;
    color: rgb(70, 70, 70);
    transition-duration: 0.4s;
    margin: 9px;
    padding: 3px 6px 3px 6px;
    border-radius: 9px;
}

@media (hover: hover) { 
    button:hover { 
        /* Add hover effect to button 
        on hover enabled devices */ 
        opacity: 1;
    } 

    a:hover {
        color:#ffcc33;
    }
} 

p {
    /*color: #ffcc33;
    filter: saturate(0);
    opacity: 0.72;*/
    margin: 0;
    padding: 3px 0 0 0;
    text-align: none;
    color: rgb(70, 70, 70);
    line-height: normal;
}

ol {
    list-style-type: lower-greek;
    margin: 18px;
    padding: 0 0 0 27px;
    color:#ffcc33;
}

li {
    margin: 0 0 9px 0;
    padding: 0;
}

h1 {
    margin: 0 0 0 0;
    padding: 18px;
    font-weight: normal;
}

.dark-mode {
    background-color: black;
    color: #ffcc33;
}

button {
    background-color: transparent;
    opacity: .77;
    font-size: xx-large;
    border: none;
    border-radius: 50%;
    padding: 2px 9px 2px 9px;
    transition-duration: 0.4s;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
}

.arrow {
    border: solid;
    border-width: 0 1px 1px 0;
    display:inline-block;
    padding: 5px;
    margin: 0;
  }
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}